
body{
background-color: #f5f5dc; 
font-family:georgia,garamond,serif;
text-align:center;
}

form{
background-color:#e0ffff;
max-width: 500px;
margin: 50px auto;
padding: 30px 20px;
box-shadow: -5px -5px 10px #df0ec3;
}
span{
    background-color: #f28500;
    border: 1px solid black;
    text-align: center;
    color:#fdf5e6;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
    font-style: italic;
}

.form-structure {
text-align: left;
margin-bottom: 25px;
}
/* Styling form-structure Label */ 
.form-structure label {
display: block;
margin-bottom: 10px;
}
/* Styling form-structure input, 
select, textarea */
.form-structure input,
.form-structure select,
.form-structure textarea {
border: 1px solid #777;
border-radius: 2px;
font-family: inherit;
padding: 10px;
display: block;
width: 95%;
}
/* Styling form-structure Radio 
button and Checkbox */
.form-structure input[type="radio"],
.form-structure input[type="checkbox"] 
{
display: inline-block;
width: auto;
}
/* Styling Button */
button {
background-color: #7fff00 ;
border: 1px solid #777;
border-radius: 2px;
font-family: calibri;
font-size: 21px;
display: block;
width: 100%;
margin-top: 50px;
margin-bottom: 20px;
}

.good{
    border: 1px solid black;
    background-color:#17be17;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    
}

.bad{
    order: 1px solid black;
    background-color: red;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    
    
}